* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}
html,
body {
    height: 100%;
    width: 100%;
}
body{
  background-color: #111;
}

.card{
  width: 300px;
  border-radius: 10px;
  border: 1px solid white;
  text-align: center;
  padding: 20px;
  background-color: #222;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.card:hover {
  transform: translateY(-15px);
}
.parent:hover .card:not(:hover) {
  transform: translateY(15px);
  opacity: 0.6;
}
.parent{
  padding: 20px;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
}
.parent :hover{
  cursor: pointer;
  
}
.card p{
  margin: 20px 0;
}
.card button{
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: white;
  color: black;
}
.card img{
  height: 140px;
  width: 140px;
  border-radius: 50%;
  object-fit: cover;
}