body {
  background-color: #111;
}

* {
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  width: 300px;
  padding: 15px;
  border: 1px solid #444;
  text-align: center;
  background-color: aqua;
  border-radius: 5px;
  color: yellow;
}

.card-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  display: block;
  margin: 10px auto;
}
